seed: 42

precision:
  torch_tf32: true
  cudnn_benchmark: true
  amp: true

wandb:
  enabled: true
  project: Seq-ATAC
  run_name: clip_atac_rna

paths:
  rna_h5ad: data/aci_raw_RNA_filtered.h5ad
  atac_h5ad: data/aci_raw_ATAC_filtered.h5ad
  fasta: ../hg38/GCA_hg38_p14.fa
  outdir: result/seq_atac_clip
  embeddings_dir: result/seq_atac_clip/embeddings
  checkpoints_dir: result/seq_atac_clip/checkpoints
  peak_seq_cache: result/seq_atac_clip/peak_seq_emb.npy

filters:
  filter_cells_by_detection: true
  min_genes_per_cell: 500
  min_peaks_per_cell: 2000
  filter_peaks_by_frac: true
  min_peak_frac: 0.01
  max_peak_frac: 1.0

preprocessing:
  rna_normalize_target_sum: 10000.0
  atac_tfidf:
    norm: null
    use_idf: true
    smooth_idf: true
    sublinear_tf: true

scgpt:
  batch: 1024
  use_amp: true

dnabert:
  model_name: zhihan1996/DNABERT-2-117M
  batch: 1024
  use_amp: true

training:
  batch_size: 1024
  epochs: 200
  lr: 0.0001
  weight_decay: 0.001
  grad_clip_norm: 1.0
  num_workers: 8
  persistent_workers: true
  pin_memory: true
  early_stopping: true
  early_stopping_patience: 20
  grad_accum_steps: 1
  log_every: 50
  eval_split: 0.1
  projection_dim: 128
  temperature_init: 0.07
  learnable_temperature: true
  dropout: 0.1
  rna_mlp: [512, 256] # look at the scGPT dimention to change
  atac_mlp: [512, 256] # look at the DNABERT dimention to change

inference:
  write_format: parquet
  parquet_compression: zstd